src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\getReports:uhub-sapi-configuration">
        <set-variable value="#[attributes.headers.'x-correlation-id' default uuid()]" doc:name="Set CorrelationId" doc:id="25e5d35e-c095-4991-99b8-ffdfd8b4edb2" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="1b9620b4-e3de-4160-b7fa-c351991b7d71" message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Started get reports flow and received query parameter is" - #[attributes.queryParams.state]'/>
		<ee:transform doc:name="Prepare DynamicQuery" doc:id="52a14b60-8165-49c6-b765-67009ec5ac85" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where state = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="28a4a0ec-7d05-41a5-8fe9-5bb0c295ad68" name="fetch-case-reports-sub-flow"/>
		<ee:transform doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="9adf5e05-3f11-48a3-a763-6803e43d3dcf" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Completed get reports flow, payload: #[payload]"'/>
    
</flow>
	</mule>
